api.base_url=https://pisa-2029-translation-api-staging.up.railway.app
api.program=eurograduate_2026
api.step=verification
api.endpoint.preview=project/file/preview
api.endpoint.finalize=workflow/step/finalize
api.method.preview=GET
api.method.finalize=POST
api.request.preview=${api.base_url}/${api.endpoint.preview}?project_url=${omt.project_repo}&repo_username=${omt.repo_username}&file_path=${omt.current_target}
api.request.finalize=${api.base_url}/${api.endpoint.finalize}?project_url=${omt.project_repo}&repo_username=${omt.repo_username}
api.require.complete=1